# root
dist/
node_modules/
.env
.env.*

# app folders
splitter-frontend/dist/
splitter-frontend/node_modules/
splitter-backend/dist/
splitter-backend/node_modules/
splitter-backend/.env
splitter-backend/.env.*
