.dashboard {
  width: 100%;
  padding: 0 16px;
}

.dashboard__groups {
  margin-top: 24px;
}

.dashboard__group-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.dashboard__create {
  margin-top: 14px;
}