.group-card {
  width: 100%;

  display: flex;
  align-items: center;
  gap: 12px;

  padding: 14px;

  border: none;
  border-radius: 16px;

  background: #ffffff;

  text-align: left;
  cursor: pointer;
}

.group-card__content {
  width: 100%;
  flex: 1;
}

.group-card__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.group-card__top h3 {
  margin: 0;

  overflow: hidden;

  font-size: 15px;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.group-card__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 8px;
}

.group-card__bottom span {
  display: flex;
  align-items: center;
  gap: 4px;

  color: #777;
  font-size: 12px;
}