.create-group-button {
  width: 100%;

  height: 52px;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 8px;

  margin-top: 20px;

  border: 1px solid #6c45e5;
  border-radius: 14px;

  background: #ffffff;

  color: #6c45e5;

  font-size: 14px;
  font-weight: 600;
}

.create-group-button:active {
  background: #f1edff;
}