.header {
    height: 64px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    border-bottom: 1px solid #eeeeF2;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header-logo {
    color: #6c45e5;
    font-size: 22px;
    font-weight: 700;
}

.header-button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background: transparent;
    color: #171717;
}

.header-button:active{
    background: #f1edff;
}